@import "variables";

// Before / After Image Slider


.label_1, .label_2{
  position: absolute;
  width: 150px;
  bottom: 0;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  span{
    color: black;
    font-size: 20px;
    margin: 7px 10px;
    display: block;
  }
}


.ba-slider {
  position: relative;
  overflow: hidden;
}

.ba-slider img {
  width: 100%;
  display:block;
}

.resize {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}


.handle { /* Line */
  position:absolute;
  left:50%;
  top:0;
  bottom:0;
  width:4px;
  margin-left:-2px;

  background: white;
  cursor: ew-resize;
}

.handle:after { /* Button */
  position: absolute;
  top: 50%;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -31px;

  content:'\21d4';
  color:#009ee3;
  font-weight:bold;
  font-size:36px;
  text-align:center;
  line-height:59px;

  background: white;
  border:1px solid white;
  border-radius: 50%;
  transition:all 0.3s ease;
  //box-shadow:
  //        0 2px 6px rgba(0,0,0,.3),
  //        inset 0 2px 0 rgba(255,255,255,.5),
  //        inset 0 60px 50px -30px #ffd466;
}

.draggable:after {
  //width: 48px;
  //height: 48px;
  //margin: -24px 0 0 -24px;
  //line-height:48px;
  //font-size:30px;
}

@media screen and (max-width: 1000px) {
  .handle:after {
    width: 45px;
    height: 45px;
    margin: -24px 0 0 -21px;
    font-size: 26px;
    line-height: 38px;
  }

}





// Zeitstrahl in "Über uns"
.timeline{

  .ce_text{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    text-align: right;
  }
  .ce_text:nth-child(even){
    justify-content: flex-end;
    text-align: left;
    h3:before{
      transform: translate(-72px, 16px);
      content: "";
      width: 62px;
      height: 2px;
      background: #e9e9e9;
      position: absolute;
    }
    .ce_text_inner{
      border-left: 3px solid #e9e9e9;
      padding-left: 61px;
    }
  }
  .ce_text:nth-child(odd){
    h3:after{
      transform: translate(10px,16px);
      content: "";
      width: 67px;
      height: 2px;
      background: #e9e9e9;
      position: absolute;
    }
    .ce_text_inner{
      border-right: 3px solid #e9e9e9;
      padding-right: 66.2px;
    }
  }

  .ce_text_inner{
    //
    width: 335px;
    opacity: 0;
  }

  .ce_text_inner:after{
    content: '';
    position: absolute;
    //top: 0;
    //bottom: -76%;
    width: 4px;
    background: #e9e9e9;
    z-index: 1;
    display: block;
    left: 50%;
    transform: translateY(780px);
  }

  .image_container img{
    object-fit: cover;
    width: 200px;
    height: 150px;
  }

  h3{
    border: 2px solid #2A9AD6;
    display: inline-block;
    //min-width: 58px;
    padding: 8px;
    font-size: 25px;
  }


  p{
    border-bottom: 2px solid #e9e9e9;
    padding-bottom: 15px;
  }

  .line{
    width: 20px;
    height: 600px;
  }

  @media screen and (max-width: 876px){
    .ce_text_inner:after{
      display: none;
    }
    .ce_text_inner{
      border: unset !important;
      padding: unset !important;
    }
    h3:before, h3:after{
      display: none;
    }
  }


}