@import "variables";


@media screen and (max-width: 800px) {
  table{
    font-size: 6px;
    width: unset !important;
  }
}





// ________________________ Externe Verlinkung der Partner Firmen

#world-icon{
  width: 14px;
  cursor: pointer;
  img{
    filter: invert(10%) sepia(71%) saturate(3719%) hue-rotate(215deg) brightness(99%) contrast(102%);
  }
}

#world-icon:hover img{
  filter: invert(67%) sepia(67%) saturate(7452%) hue-rotate(173deg) brightness(103%) contrast(101%);
}

#world-nav{
  display: none;
  background-color: white;
  transition: 0.4s;
  position: absolute;
  width: 212px;
  transform: translateX(-29px);
  text-align: left !important;
  a{
    display: flex;
    justify-content: center;
    img{
      transition: 0.4s;
      width: 200px;
      object-fit: cover;
    }
    img:hover{
      transform: translateX(10px);
      transition: 0.4s;
    }
  }
}

.world-nav-mmenu{
  width: 318px;
  margin: 0 auto;
}




//__________________________Startseite



#header .mod_customnav li:nth-child(1) a::before {
  content: url('/files/layout/Picto_aktuelles.svg')
}

#header .mod_customnav li:nth-child(2) a::before {
  content: url('/files/layout/Picto_04.svg')
}

#header .mod_customnav li:nth-child(3) a::before {
  content: url('/files/layout/Picto_03.svg')
}

#header .mod_customnav li:nth-child(4) a::before {
  content: url('/files/layout/Picto_01.svg')
}

#header .mod_customnav li:nth-child(5) a::before {
  content: url('/files/layout/25_blau_und_weiss.svg')
}

#header .mod_customnav li:nth-child(6) a::before {
  content: url('/files/layout/Picto_02.svg')
}

#header .mod_customnav li a::after {
  //content: url('/files/layout/arr_right.svg');
  display: inline-block;
  width: 15px
}




//__________________________ENDE


#header .mod_navigation ul.level_1 li:hover ul.level_2 {
  min-width: 200px !important;
}

.ce_player{
  display: flex;
  justify-content: center;
  video{
    max-width: 748px;
    width: 90vw;
  }
}


.widget-captcha{
  visibility: hidden;
}


.flexbox-1{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  p{
    text-align: center;
  }
}

select.select{
  background-color: rgba(0,47,135,.04);
  border-bottom: 1px solid rgba(0,45,92,.5);
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  border: 0;
  padding: 7px 0;
  display: block;
  margin-top: 8px;
}

sub{
  vertical-align: sub !important;
}