@import 'variables';


#main .rsts-prev:before, #main .rsts-next:before, #main .rsts-prev:hover:before, #main .rsts-next:hover:before, #main .rsts-prev:active:before, #main .rsts-next:active:before, #main .rsts-prev:focus:before, #main .rsts-next:focus:before {
  height: 0
}

.mod_rocksolid_slider {
  max-width: 750px;
  margin: 50px auto
}

.ce_gallery img {
  width: 100%;
  height: auto
}

.ce_gallery {
  max-width: 750px;
  margin: 50px auto
}

.ba-link:hover .ba-text span:after {
  width: 100%
}

.ba-text span:after {
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #009ee3;
  transition: all 250ms;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -o-transition: all 250ms
}

.ba-link:hover .ba-image {
  box-shadow: 0 0 20px gray
}

.ba-text span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  font-size: 25px
}

.ba-image {
  float: right;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 0 5px gray;
  transition: all 250ms;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -o-transition: all 250ms
}

.ba-link {
  width: 100%;
  height: 130px;
  margin-bottom: 20px
}

.ba-text {
  position: relative;
  float: left;
  width: 50%;
  height: 130px
}

.ba-button {
  clear: both;
  float: left;
  width: 50%
}

.ba-buttons {
  max-width: 750px;
  margin: 70px auto
}

.ce_image figure {
  max-width: 750px;
  margin: 0 auto
}

.left-links {
  display: inline-block;
  width: 145px;
  margin-right: 320px
}

.right-links {
  display: inline-block;
  width: 132px
}

.two-columns {
  max-width: 600px;
  margin: 0 auto
}

.ce_text ol {
  list-style: decimal;
  max-width: 750px;
  margin: 0 auto
}

.ce_text ol li {
  list-style-image: none
}

#main .mod_search p.url, #main .mod_search span.relevance {
  display: none
}

#main .mod_search .formbody {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center
}

#main .mod_newslist .layout_latest h2 {
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-align: left;
  border-bottom: 1px solid #009ee3;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto
}

#main .mod_newslist .layout_latest {
  padding-right: 20px;
  padding-left: 20px
}

#main .mod_newsreader h1 {
  margin-bottom: 30px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto
}

#main .mod_newslist .layout_latest h2 a:before {
  display: none
}

#main .mod_newslist .layout_latest p time {
  color: #009ee3;
  font-size: 0.8em;
  letter-spacing: 1px
}

#main .mod_newslist .layout_latest.even {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 158, 227, .05)
}

#main .mod_newslist .layout_latest.odd {
  padding-top: 10px;
  padding-bottom: 10px
}

#main .mod_search mark {
  background-color: rgba(0, 158, 227, .2)
}

#main .mod_search .even, #main .mod_search .odd {
  border-top: 1px solid #009ee3
}

#main .mod_search input.text {
  background-color: rgba(0, 47, 135, .04);
  border-bottom: 1px solid rgba(0, 45, 92, .5);
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  border: 0;
  padding: 15px 5px 15px 25px;
  display: block;
  margin-top: 8px;
  text-align: center;
  font-size: 1.65em;
  line-height: 1.4em;
  text-transform: uppercase;
  color: #002f87
}

#header #head_container {
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 56px);
  padding-left: 28px;
  padding-right: 28px
}

a, body, div, em, input, label, li, ol, p, select, span, strong, td, th, textarea, u, ul {
  font-family: 'Barlow', sans-serif
}

:focus {
  outline: 0
}

.invisible {
  display: none
}

h1 {
  font-size: 2.5em;
  color: #002f87;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 100px
}

h1.ce_headline {
  border-bottom: 2px dotted #002f87;
  margin-bottom: 40px;
  padding-bottom: 30px
}

h2 {
  font-size: 2.1em;
  color: #002f87;
  font-weight: 300;
  text-transform: none;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 80px;
  border-bottom: 2px dotted #002f87;
  padding-bottom: 20px
}

h3 {
  font-size: 1.65em;
  line-height: 1.4em;
  color: #000;
  font-weight: 600;
  text-transform: none;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px
}

p {
  font-size: 1.65em;
  line-height: 1.4em;
  color: #000;
  font-weight: 300;
  text-transform: none;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px
}

#main a {
  color: #009ee3;
  font-weight: 300;
  text-decoration: none;
  vertical-align: top;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden
}

#main a:hover:before, #main a:active:before, #main a:focus:before {
  left: 0;
  right: 0
}

#main a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #009ee3;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out
}

.ce_text ul {
  font-size: 1.65em;
  line-height: 1.4em;
  color: #000;
  font-weight: 300;
  text-transform: none;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-left: 13px
}

.ce_text li {
  //list-style-image: url("../../files/layout/li.svg");
  list-style: disc;
  padding-left: 10px
}

.ce_accordion {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto
}

.ce_accordion .toggler {
  background-image: url("../../files/layout/acc_open.svg");
  background-position: right center;
  background-repeat: no-repeat;
  color: #002f87;
  font-weight: 300;
  font-size: 2em;
  cursor: pointer;
  border-bottom: 1px solid #002e86;
  padding-bottom: 20px;
  padding-top: 20px;
  background-size: 27px
}

.ce_accordion .toggler.active {
  background-image: url("../../files/layout/acc_close.svg");
  background-position: right center;
  background-repeat: no-repeat;
  color: #009ee3
}

.ce_accordion .toggler:hover {
  color: #009ee3
}

.ce_accordion .accordion {
  margin-top: 50px;
  margin-bottom: 50px
}

p strong {
  font-weight: 500
}

html {
  margin: 0px;
  min-height: 100%
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll
}

#header #metanav {
  float: left;
  display: inline-block;
  margin-left: calc(10.5% - 87px);
  margin-right: 18px;
  margin-top: 102px;
  width: 69px;
  text-align: right
}

#header form .widget-text {
  display: none
}

#header form .widget-submit {
  width: 10px;
  float: left;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #002e86
}

#header .mod_changelanguage a {
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  font-size: 1em;
  color: #002f87;
  text-transform: uppercase
}

#header .mod_changelanguage a:hover {
  color: #009ee3
}

#header .mod_navigation {
  border-top: dotted 2px #002f87;
  text-align: center;
  float: left;
  padding-top: 0px;
  margin-top: 120px;
  max-width: 1128px;
  width: 79%
}

#header .mod_navigation ul {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: inline-flex;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: -6px
}

#header .mod_navigation ul li a {
  font: 1.4em 'Barlow', sans-serif;
  text-decoration: none;
  color: #002e86;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  font-weight: 300;
  margin: 0 20px 0 0;
}

#header .mod_navigation ul li strong {
  font: 1.4em 'Barlow', sans-serif;
  text-decoration: none;
  color: #009ee3;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  font-weight: 300
}

#header .mod_navigation ul li:after {
  padding-right: 10px;
  padding-left: 10px;
  font: 1.4em 'Barlow', sans-serif;
  text-decoration: none;
  color: #002e86;
  text-transform: uppercase;
  font-weight: 500;
  //content: "•";
  vertical-align: top;
  line-height: 1em
}

#header .mod_navigation ul li.last:after {
  display: none
}

#header .mod_navigation ul li .active, #header .mod_navigation ul li .trail span {
  text-decoration: none;
  color: #009ee3;
  text-transform: uppercase;
  font-weight: 300
}

#header .mod_navigation ul.level_1 li {
  padding-top: 20px
}

#header .mod_navigation ul.level_1 li:last-child:before {
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  transition: left 1.2s ease;
  top: -20px
}

#header .mod_navigation ul.level_1 li:last-child:before {
  border: 0px solid transparent;
  background-color: #009ee3;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  top: 0;
  left: 5%;
  margin-left: -3px
}

#header .mod_navigation ul.level_1 li:nth-child(1).active ~ li:last-child:before, #header .mod_navigation ul.level_1 li:nth-child(1) span ~ li:last-child:before, #header .mod_navigation ul.level_1 li:nth-child(1).trail ~ li:last-child:before {
  left: 5%
}

#header .mod_navigation ul.level_1 li:nth-child(2).active ~ li:last-child:before, #header .mod_navigation ul.level_1 li:nth-child(2) span ~ li:last-child:before, #header .mod_navigation ul.level_1 li:nth-child(2).trail ~ li:last-child:before {
  left: 22.2%
}

#header .mod_navigation ul.level_1 li:nth-child(3).active ~ li:last-child:before, #header .mod_navigation ul.level_1 li:nth-child(3) span ~ li:last-child:before, #header .mod_navigation ul.level_1 li:nth-child(3).trail ~ li:last-child:before {
  left: 45.5%
}

#header .mod_navigation ul.level_1 li:nth-child(4).active ~ li:last-child:before, #header .mod_navigation ul.level_1 li:nth-child(4) span ~ li:last-child:before, #header .mod_navigation ul.level_1 li:nth-child(4).trail ~ li:last-child:before {
  left: 65.8%
}

#header .mod_navigation ul.level_1 li:nth-child(5).active ~ li:last-child:before, #header .mod_navigation ul.level_1 li:nth-child(5) span ~ li:last-child:before, #header .mod_navigation ul.level_1 li:nth-child(5).trail ~ li:last-child:before {
  left: 80%
}

#header .mod_navigation ul.level_1 li:last-child.active:before, #header .mod_navigation ul.level_1 li:last-child span:before, #header .mod_navigation ul.level_1 li:last-child.trail:before {
  left: 93.9%
}

#header .mod_navigation ul.level_1 li:nth-child(1):hover ~ li:last-child:before {
  left: 5% !important
}

#header .mod_navigation ul.level_1 li:nth-child(2):hover ~ li:last-child:before {
  left: 22.2% !important
}

#header .mod_navigation ul.level_1 li:nth-child(3):hover ~ li:last-child:before {
  left: 45.5% !important
}

#header .mod_navigation ul.level_1 li:nth-child(4):hover ~ li:last-child:before {
  left: 65.8% !important
}

#header .mod_navigation ul.level_1 li:nth-child(5):hover ~ li:last-child:before {
  left: 80% !important
}

#header .mod_navigation ul.level_1 li:last-child:hover:before {
  left: 93.9% !important
}

#header .mod_navigation:before {
  content: " ";
  display: table
}

#header .mod_navigation ul.level_2 li:before, #header .mod_navigation ul.level_2 li:last-child:before {
  padding-right: 10px;
  font: 1.4em 'Barlow', sans-serif;
  //content: "•" !important;
  vertical-align: -webkit-baseline-middle;
  float: left;
  line-height: 2.1em;
  position: relative !important;
  pointer-events: none;
  transition: none !important;
  background: none;
  left: 0px !important
}

#header .mod_navigation ul.level_2 li:nth-child(1):hover ~ li:last-child:before, #header .mod_navigation ul.level_2 li:nth-child(2):hover ~ li:last-child:before, #header .mod_navigation ul.level_2 li:nth-child(3):hover ~ li:last-child:before, #header .mod_navigation ul.level_2 li:nth-child(4):hover ~ li:last-child:before, #header .mod_navigation ul.level_2 li:nth-child(5):hover ~ li:last-child:before, #header .mod_navigation ul.level_2 li:nth-child(6):hover ~ li:last-child:before, #header .mod_navigation ul.level_2 li:last-child:hover:before {
  left: 0% !important
}

#header .mod_navigation ul.level_2 li a {
  font: 1.3em 'Barlow', sans-serif;
  text-decoration: none;
  color: #002e86;
  text-transform: none;
  display: block !important;
  font-weight: 600;
  vertical-align: middle;
  position: relative;
  overflow: auto;
  padding-bottom: 10px;
  padding-top: 10px
}

#header .mod_navigation ul.level_2 li a:hover, #header .mod_navigation ul.level_2 li.active {
  color: #009ee3
}

#header .mod_navigation ul.level_2 li:after {
  display: none
}

#header .mod_navigation ul.level_2 li .active {
  font: 1.3em 'Barlow', sans-serif;
  text-decoration: none;
  color: #009ee3;
  text-transform: none;
  display: block !important;
  font-weight: 600;
  vertical-align: middle;
  position: relative;
  overflow: auto;
  padding-bottom: 10px;
  padding-top: 10px
}

#header .mod_navigation ul.level_2 li.active strong {
  font-size: 1.3em
}

#header .mod_navigation ul.level_2 {
  padding: 0;
  width: auto;
  left: -9999px;
  position: absolute;
  background-color: rgba(255, 255, 255, .8);
  -webkit-box-shadow: 5px 5px 20px -7px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 5px 5px 20px -7px rgba(0, 0, 0, 0.24);
  box-shadow: 5px 5px 20px -7px rgba(0, 0, 0, 0.24);
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px
}

#header .mod_navigation ul.level_1 li:hover ul.level_2 {
  width: auto;
  display: block;
  left: auto;
  float: none;
  z-index: 2;
  text-align: left;
  top: 30px;
  margin-left: -10px
}

#header .mod_navigation ul.level_2 li {
  padding-left: 0px;
  padding-right: 10px;
  border-bottom: 1px dotted #009ee3;
  padding-top: 0px
}

#header .mod_navigation ul.level_2 li.last {
  border-bottom: 0px dotted #009ee3
}

#header .header_logo {
  float: left;
  max-width: 135px;
  position: relative;
  width: calc(10.5% - 28px);
  margin-top: 46px;
  margin-bottom: 45px;
  margin-left: 28px;
  height: 148px
}

#header .header_logo img {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute
}

.start #header .mod_pageImage {
  width: 100%;
  max-height: 1200px;
  overflow: hidden
}

#header .mod_pageImage {
  width: 100%;
  max-height: 600px;
  overflow: hidden
}

#header .mod_pageImage img {
  width: 100%;
  height: auto
}

#header .mod_customnav {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 28px;
  padding-right: 28px;
  margin-top: -450px;
  margin-bottom: 200px
}

#header .mod_customnav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

#header .mod_customnav li {
  width: 49%;
  margin-bottom: 2%;
  height: 168px;
  background: rgba(0, 47, 134, 1);
  background: -moz-linear-gradient(-45deg, rgba(0, 47, 134, 1) 0%, rgba(0, 47, 134, 0.98) 8%, rgba(71, 186, 235, 0.72) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0, 47, 134, 1)), color-stop(8%, rgba(0, 47, 134, 0.98)), color-stop(100%, rgba(71, 186, 235, 0.72)));
  background: -webkit-linear-gradient(-45deg, rgba(0, 47, 134, 1) 0%, rgba(0, 47, 134, 0.98) 8%, rgba(71, 186, 235, 0.72) 100%);
  background: -o-linear-gradient(-45deg, rgba(0, 47, 134, 1) 0%, rgba(0, 47, 134, 0.98) 8%, rgba(71, 186, 235, 0.72) 100%);
  background: -ms-linear-gradient(-45deg, rgba(0, 47, 134, 1) 0%, rgba(0, 47, 134, 0.98) 8%, rgba(71, 186, 235, 0.72) 100%);
  background: linear-gradient(135deg, rgba(0, 47, 134, 1) 0%, rgba(0, 47, 134, 0.98) 8%, rgba(71, 186, 235, 0.72) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002f86', endColorstr='#47baeb', GradientType=1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative
}

#header .mod_customnav li::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  border-radius: 10px;
  opacity: 0;
  //content: "m";
  z-index: 0;
  background: rgba(71, 186, 235, 0.72);
  background: -moz-linear-gradient(-45deg, rgba(71, 186, 235, 0.72) 0%, rgba(0, 47, 134, 0.75) 43%, rgba(0, 47, 134, 0.8) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(71, 186, 235, 0.72)), color-stop(43%, rgba(0, 47, 134, 0.75)), color-stop(100%, rgba(0, 47, 134, 0.8)));
  background: -webkit-linear-gradient(-45deg, rgba(71, 186, 235, 0.72) 0%, rgba(0, 47, 134, 0.75) 43%, rgba(0, 47, 134, 0.8) 100%);
  background: -o-linear-gradient(-45deg, rgba(71, 186, 235, 0.72) 0%, rgba(0, 47, 134, 0.75) 43%, rgba(0, 47, 134, 0.8) 100%);
  background: -ms-linear-gradient(-45deg, rgba(71, 186, 235, 0.72) 0%, rgba(0, 47, 134, 0.75) 43%, rgba(0, 47, 134, 0.8) 100%);
  background: linear-gradient(135deg, rgba(71, 186, 235, 0.72) 0%, rgba(0, 47, 134, 0.75) 43%, rgba(0, 47, 134, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47baeb', endColorstr='#002f86', GradientType=1);
  -webkit-transition: opacity 0.7s ease;
  -moz-transition: opacity 0.7s ease;
  -o-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease
}

#header .mod_customnav li:hover::after {
  -webkit-transition: opacity 0.7s ease;
  -moz-transition: opacity 0.7s ease;
  -o-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
  opacity: 1
}

#header .mod_customnav li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1
}

#header .mod_customnav li a::before {
  width: 20%;
  max-width: 100px;
  height: auto;
  margin-right: 4%;
  margin-left: 4%;
  display: inline-block
}

#header .mod_customnav li span {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 700;
  font-size: 1.6em;
  line-height: 1.5em;
  text-decoration: none;
  border-bottom: 2px dotted #fff;
  padding-bottom: 24px;
  padding-top: 24px;
  width: 62%
}

#header .mod_customnav li:nth-child(1) a::before {
  content: url('/files/layout/Picto_01.svg')
}

#header .mod_customnav li:nth-child(2) a::before {
  content: url('/files/layout/Picto_03.svg')
}

#header .mod_customnav li:nth-child(3) a::before {
  content: url('/files/layout/Picto_02.svg')
}

#header .mod_customnav li:nth-child(4) a::before {
  content: url('/files/layout/Picto_04.svg')
}

#header .mod_customnav li a::after {
  content: url('/files/layout/arr_right.svg');
  display: inline-block;
  width: 15px
}

#header .mod_breadcrumb {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  width: calc(100% - 56px)
}

#header .mod_breadcrumb ul {
  max-width: calc(50% - 55px)
}

#header .mod_breadcrumb li {
  float: left;
  padding-bottom: 3px
}

#header .mod_breadcrumb li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  color: #002e86;
  font-size: 1em
}

#header .mod_breadcrumb li a:after {
  content: '›';
  color: #009ee3;
  padding-left: 4px;
  padding-right: 4px
}

#header .mod_breadcrumb li.active {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  color: #009ee3;
  font-size: 1em
}

#header .mod_breadcrumb li a:hover {
  color: #009ee3
}

#container {
  padding-left: 28px;
  padding-right: 28px
}

#main {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto
}

#main .ce_image.picto {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -70px
}

#main .rsts-skin-default .rsts-prev, #main .rsts-skin-default .rsts-next, #main .rsts-skin-default .rsts-video-play, #main .rsts-skin-default .rsts-video-stop, #main .rsts-skin-default .rsts-thumbs-prev, #main .rsts-skin-default .rsts-thumbs-next {
  background-image: url("../../files/layout/arr_left.svg");
  background-size: auto;
  box-shadow: none;
  opacity: .6;
  border: 0px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%)
}

#main .rsts-skin-default .rsts-prev {
  left: 20px;
  bottom: calc(50% - 15px)
}

#main .rsts-skin-default .rsts-next {
  right: 20px;
  bottom: calc(50% - 15px)
}

#main .rsts-skin-default .rsts-next, #main .rsts-skin-default .rsts-thumbs-next {
  background-image: url("../../files/layout/arr_right.svg");
  background-size: auto;
  box-shadow: none;
  opacity: .6;
  border: 0px
}

#main .rsts-skin-default .rsts-next:hover, #main .rsts-skin-default .rsts-thumbs-next:hover {
  background-size: auto;
  box-shadow: none;
  opacity: 1;
  border: 0px;
  background-color: rgba(238, 238, 238, 0.0) !important
}

#main .rsts-skin-default .rsts-prev:hover, #main .rsts-skin-default .rsts-next:hover, #main.rsts-skin-default .rsts-video-play:hover, #main .rsts-skin-default .rsts-video-stop:hover, #main .rsts-skin-default .rsts-thumbs-prev:hover, #main .rsts-skin-default .rsts-thumbs-next:hover {
  background-size: auto;
  box-shadow: none;
  opacity: 1;
  border: 0px;
  background-color: rgba(238, 238, 238, 0.0) !important
}

#main .ce_download, #main .ce_downloads {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px
}

#main .ce_download ul, #main .ce_downloads ul {
  margin-left: 13px
}

#main .ce_download li, #main .ce_downloads li {
  list-style-image: url("../../files/layout/download.svg");
  font-size: 1.65em;
  line-height: 1.4em
}

#main .ce_download li a, #main .ce_downloads li a {
  color: #002f87;
  font-weight: 300;
  text-decoration: none
}

#main .ce_download li a:hover, #main .ce_downloads li a:hover {
  color: #009ee3
}

#main .ce_form .formbody {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px
}

#main .ce_form .explanation p {
  font: 1.5em/1.5em 'Barlow', sans-serif;
  color: #002f87;
  font-weight: 300
}

#main .ce_form .widget-text, #main .ce_form .widget-textarea {
  margin: 5px 0 10px;
  float: left;
  width: 100%;
  position: relative;
  display: block !important
}

#main .ce_form .widget-captcha {
  margin: 5px 0 0px;
  float: left;
  width: 100%;
  position: relative;
  display: block !important
}

#main .ce_form .widget-checkbox {
  width: 100%;
  display: inline-block
}

#main .ce_form .checkbox_container {
  margin-bottom: 40px
}

#main .ce_form input.captcha {
  margin: 5px 0 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: rgba(0, 47, 135, .04);
  border: 0px;
  width: 35px;
  text-align: center
}

#main .ce_form input.text, #main .ce_form textarea {
  background-color: rgba(0, 47, 135, .04);
  border-bottom: 1px solid rgba(0, 45, 92, .5);
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  border: 0;
  padding: 7px 0;
  display: block;
  margin-top: 8px
}

#main .ce_form textarea {
  min-height: 150px
}

#main .ce_form label, #main .ce_form legend {
  font: 1.2em 'Barlow', sans-serif;
  color: #002f87;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 400
}

#main .ce_form span.captcha_text {
  font: 1.2em 'Barlow', sans-serif;
  color: #002f87;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 400
}

#main .ce_form legend {
  margin-bottom: 10px;
  padding-top: 0px
}

#main .ce_form input.text ~ .focus-border, #main .ce_form textarea ~ .focus-border, #main .mod_search input.text ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #002f87;
  transition: 0.4s
}

#main .ce_form input.text:focus ~ .focus-border, #main .ce_form textarea:focus ~ .focus-border, #main .mod_search input.text:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s
}

#main .mod_search .widget-submit button {
  background-image: url("../../files/layout/lupe.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  background-size: contain;
  font-size: 0px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px
}

#main .ce_form .widget-submit {
  font: 1.3em 'Barlow', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 300
}

#main .ce_form .widget-submit button {
  margin-top: 0px;
  padding: 8px;
  background-color: #009ee3;
  color: #fff;
  display: inline-block;
  font: 1em 'Barlow', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5px;
  border: none;
  cursor: pointer;
  font-weight: 300
}

#main .ce_form button:hover {
  background-color: #002f87
}

#main .ce_form .submit_container:before {
  margin-right: 5px;
  font: 1.2em 'Barlow', sans-serif;
  color: #009ee3;
  text-transform: none;
  content: " ";
  width: 14px;
  height: 14px;
  background-size: contain;
  display: inline-block;
  vertical-align: text-top;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg)
}

#main .ce_form span.mandatory {
  color: #009ee3;
  vertical-align: super
}

#main .ce_form a {
  text-decoration: none;
  color: #009ee3
}

#main .ce_form a:hover {
  text-decoration: none;
  color: rgba(0, 158, 227, .7)
}

#main .ce_form .select {
  border-top: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-left: 0px;
  width: 100%;
  display: initial;
  margin-top: 14px
}

#main .ce_form .checkbox_container label {
  text-transform: none
}

#main .ce_form .radio_container {
  margin-bottom: 20px
}

#main .ce_form .radio_container label {
  text-transform: none;
  margin-right: 20px
}

#main .ce_form .formbody input[type="checkbox"], #main .ce_form .formbody input[type="radio"] {
  display: none
}

#main .ce_form .formbody input[type="checkbox"] + label span {
  border: 1px solid #009ee3;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  cursor: pointer
}

#main .ce_form .formbody input[type="radio"] + label span {
  border: 1px solid #009ee3;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 100%
}

#main .ce_form .formbody input[type="checkbox"]:checked + label span, #main .ce_form .formbody input[type="radio"]:checked + label span {
  background-color: #009ee3
}

#footer {
  background: rgba(0, 47, 134, 1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 47, 134, 1) 0%, rgba(0, 30, 89, 1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 47, 134, 1)), color-stop(100%, rgba(0, 30, 89, 1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 47, 134, 1) 0%, rgba(0, 30, 89, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 47, 134, 1) 0%, rgba(0, 30, 89, 1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 47, 134, 1) 0%, rgba(0, 30, 89, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(0, 47, 134, 1) 0%, rgba(0, 30, 89, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002f86', endColorstr='#001e59', GradientType=1);
  margin-left: 28px;
  margin-right: 28px;
  width: calc(100% - 56px);
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 150px
}

#footer .inside {
  max-width: 1202px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: table;
  width: calc(100% - 40px)
}

#footer .footer_logo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  margin-bottom: 100px;
  border-bottom: 2px dotted #009ee3;
  text-align: center
}

#footer .footer_logo img {
  max-width: 160px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  margin-bottom: 74px
}

#footer .adresse {
  width: 25%;
  float: left;
  margin-right: 2%
}

#footer .adresse a {
  color: #fff;
  text-decoration: none
}

#footer .adresse a:hover {
  color: #009ee3
}

#footer .adresse span {
  font-weight: 600
}

#footer p {
  font-size: 1.35em;
  line-height: 1.8em;
  color: #fff
}

#footer .info {
  width: 25%;
  float: left;
  margin-right: 3%
}

#footer .info span {
  text-transform: uppercase
}

#footer .mod_customnav {
  width: 30%;
  margin-right: 5%;
  float: left
}

#footer .mod_customnav li {
  border-bottom: 1px dotted #fff
}

#footer .mod_customnav li.last {
  border-bottom: 0px
}

#footer .mod_customnav a {
  font-size: 1.35em;
  line-height: 1.8em;
  color: #fff;
  text-decoration: none;
  font-weight: 300
}

#footer .mod_customnav a:before {
  font-size: 1.35em;
  color: #fff;
  font-weight: 600;
  //content: '∙';
  margin-right: 10px
}

#footer .mod_customnav strong:before {
  font-size: 1.35em;
  color: #009ee3;
  font-weight: 600;
  //content: '∙';
  margin-right: 10px
}

#footer .mod_customnav a:hover {
  color: #009ee3
}

#footer .mod_customnav strong {
  font-size: 1.35em;
  line-height: 1.8em;
  color: #009ee3;
  text-decoration: none;
  font-weight: 300
}

#footer .facebook {
  width: 10%;
  float: left
}

#footer .facebook img {
  width: 30px;
  margin-left: 28px
}

#footer .footer_claim {
  width: 100%;
  float: left;
  margin-top: 100px;
  margin-bottom: 180px;
  display: block
}

#footer .footer_claim hr {
  border-top: 2px dotted #009ee3;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 1px;
  background: none;
  width: calc(100% - 230px);
  float: left;
  margin-top: 15px
}

#footer .footer_claim p {
  color: #009ee3;
  float: left;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 10px;
  letter-spacing: 1.2px
}

#footer .footer_claim p span {
  font-weight: 300
}